<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jafa.repository.board.BoardInfoRepository">

	<!-- READ -->

	<select id="read" resultType="boardInfo">
		SELECT * FROM TBL_BOARD_INFO WHERE BOARDTYPE = #{boardType}
	</select>


	<!-- UPDATE -->
	<update id="update">
		UPDATE TBL_BOARD_INFO SET
		boardName= #{boardName},
		EXPANATION = #{expanation}
		WHERE BOARDTYPE = #{boardType}
	</update>

</mapper>