<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jafa.repository.board.BoardRepository">
  
  <!-- CREATE -->
	<insert id="insert">
		INSERT INTO TBL_BOARD (BNO,TITLE,CONTENT,WRITER,BOARDTYPE,STATUS)
	    VALUES(SEQ_BOARD.NEXTVAL,#{title},#{content},#{writer},#{boardType},#{status})
	</insert>  
  	
  <!-- READ -->
  
	<select id="getList" resultType="com.jafa.domain.board.BoardVO">
		SELECT * FROM TBL_BOARD ORDER BY BNO DESC
	</select>
	 
	<select id="read" resultType="com.jafa.domain.board.BoardVO">
		SELECT * FROM TBL_BOARD where BNO = #{bno}
	</select>
  
  <!-- UPDATE -->
	<update id="update">
		UPDATE TBL_BOARD SET  
		TITLE=#{title}, CONTENT=#{content}, STATUS=#{status}
		WHERE BNO = #{bno}
	</update>  
	
  <!-- DELETE -->
  	<delete id="delete">
  		DELETE TBL_BOARD WHERE BNO = #{bno}
  	</delete>
  
</mapper>