<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jafa.repository.board.BoardRepository">
  
  <!-- CREATE -->
	<insert id="insert">
		INSERT INTO TBL_BOARD (BNO,TITLE,CONTENT,WRITER,BOARDTYPE,STATUS)
	    VALUES(SEQ_BOARD.NEXTVAL,#{title},#{content},#{writer},#{boardType},#{status})
	</insert>  
  	
  <!-- READ -->
 	
 	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach collection="types" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							TITLE LIKE '%' || #{keyword} || '%'
						</when>
						<when test="type=='C'.toString()">
							TITLE LIKE '%' || #{keyword} || '%'
						</when>
						<when test="type=='W'.toString()">
							TITLE LIKE '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
 	</sql>

	<select id="getList" resultType="com.jafa.domain.board.BoardVO">
		<![CDATA[
		SELECT * FROM 
		(SELECT /*INDEX_DESC(tbl_board pk_board)*/ 
		ROWNUM as RN, BNO, TITLE, CONTENT, WRITER, 
		REGDATE, UPDATEDATE, BOARDTYPE, STATUS
		FROM TBL_BOARD WHERE
		]]>
		<include refid="criteria" />			
		<![CDATA[ 
			ROWNUM <= #{maxRow} 
			) WHERE RN > #{minRow} 
		]]>
	</select>
	 
	<select id="read" resultType="com.jafa.domain.board.BoardVO">
		SELECT * FROM TBL_BOARD WHERE BNO = #{bno}
	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(BNO) FROM TBL_BOARD WHERE
		<include refid="criteria" />
		BNO > 0			
	</select>
  
  <!-- UPDATE -->
	<update id="update">
		UPDATE TBL_BOARD SET  
		TITLE=#{title}, CONTENT=#{content}, STATUS=#{status}
		WHERE BNO = #{bno}
	</update>  
	
  <!-- DELETE -->
  	<delete id="delete">
  		DELETE TBL_BOARD WHERE BNO = #{bno}
  	</delete>
  
</mapper>