<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jafa.repository.reply.ReplyRepository">
  
  <!-- CREATE -->
	<insert id="insert">
		INSERT INTO TBL_REPLY
   		(RNO,BNO,REPLY,REPLYER,STATUS)
    	VALUES(SEQ_REPLY.NEXTVAL,#{bno},#{reply},#{replyer},'VISIBLE')
	</insert>  
  	
  <!-- READ -->

	<select id="getList" resultType="com.jafa.domain.reply.ReplyVO">
	<![CDATA[
		SELECT * FROM 
		(SELECT  /*INDEX_DESC(TBL_REPLY PK_REPLY)*/ 
		ROWNUM AS RN,RNO,BNO,REPLY,REPLYER,
		REGDATE,UPDATEDATE,STATUS,LIKEHIT
		FROM TBL_REPLY WHERE BNO=#{bno} 
		AND ROWNUM <= #{criteria.maxRow})
		WHERE RN > #{criteria.minRow}
	]]>
	</select>

	<select id="selectByMemberId" resultType="com.jafa.domain.reply.ReplyVO">
	<![CDATA[
		SELECT * FROM
		(SELECT ROWNUM AS RN,RNO,BNO,REPLY,REPLYER,
		REGDATE,UPDATEDATE,STATUS,LIKEHIT
		FROM TBL_REPLY WHERE REPLYER=#{replyer} 
		AND ROWNUM <= #{criteria.maxRow})
		WHERE RN > #{criteria.minRow}
	]]>
	</select>
	 
	<select id="read" resultType="com.jafa.domain.reply.ReplyVO">
		SELECT * FROM TBL_REPLY WHERE RNO=#{rno}
	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(RNO) FROM TBL_REPLY WHERE BNO = #{bno}
	</select>
	
	<select id="getTotalCountByMemberId" resultType="int">
		SELECT COUNT(RNO) FROM TBL_REPLY WHERE REPLYER = #{replyer}
	</select>
  
  <!-- UPDATE -->
	<update id="update">
		UPDATE TBL_REPLY SET
   		REPLY= #{reply}
    	where rno = #{rno}
	</update>  
	
  <!-- DELETE -->
  	<delete id="delete">
  		DELETE FROM TBL_REPLY WHERE RNO = #{rno} 
  	</delete>
  
</mapper>